/* effect 10 */

.hover10{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.hover10:before, .hover10:after, .hover10__label:before, .hover10__label:after{
  content: "";
  position: absolute;
  transition-property: transform;
  transition-duration: .1s;
  transition-timing-function: ease-out;
}

.hover10:before, .hover10:after{
  width: 100%;
  height: 5px;
  left: 0;
}

.hover10:before{
  top: 0;
  transform: translate3d(-105%, 0, 0);
  transition-delay: .25s;
}

.hover10:after{
  bottom: 0;
  transform: translate3d(105%, 0, 0);
  transition-delay: .05s;
}

.hover10__label:before, .hover10__label:after{
  width: 5px;
  height: 100%;
  top: 0;
}

.hover10__label:before{
  left: 0;
  transform: translate3d(0, 105%, 0);
}

.hover10__label:after{
  right: 0;
  transform: translate3d(0, -105%, 0);
  transition-delay: .15s;
}

.hover10:hover:before, .hover10:hover:after,
.hover10:hover .hover10__label:before, .hover10:hover .hover10__label:after,
.hover10:focus:before, .hover10:focus:after,
.hover10:focus .hover10__label:before, .hover10:focus .hover10__label:after{
  transform: translate3d(0, 0, 0);
  transition-duration: .2s;
}

.hover10:hover:before, .hover10:focus:before{
  transition-delay: 0s;
}

.hover10:hover:after, .hover10:focus:after{
  transition-delay: .4s;
}

.hover10:hover .hover10__label:after, .hover10:focus .hover10__label:after{
  transition-delay: .2s;
}

.hover10:hover .hover10__label:before, .hover10:focus .hover10__label:before{
  transition-delay: .6s;
}

.hover10:focus{
    outline: none;
  }

.hover10:hover, .hover10:focus{
    color: gray;
}

.hover10:before, .hover10:after, .hover10__label:before, .hover10__label:after {
    background-color: gray;
}

.hover10{
    padding: .5rem 1.5rem;
}

@media screen and (min-width: 769px){

    html{
      font-size: 105%;
    }
  }
  
  @media screen and (min-width: 641px) and (max-width: 768px){
  
    html{
      font-size: 100%;
    }
  }
  
  @media screen and (max-width: 640px){
  
    html{
      font-size: 100%;
    }
  }
  
  body{
    font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", "Segoe UI", "Arial", sans-serif;
    font-size: 1.6rem;
    color:gray;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
  }
  
  a{
    text-decoration: none;
    color: #795406;
  }
  
  .section_1{
    box-sizing: border-box;
    position: relative;
    text-align: center;
    background-color: rgb(162, 194, 221);
  }

  .section_2{
    box-sizing: border-box;
    position: relative;
    text-align: center;
    background-color: rgb(162, 194, 221);
  }
  
  
  /*
  * menu
  */
  
  .menu{
    list-style: none;
    padding: 5rem;
    margin: 0;  
  }
  
  .menu__item{
    display: inline-block;
    left: 150px;
    top: 250px;
  }
  
  .menu__link{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
  }
  
  @media screen and (min-width: 1201px){
  
    .main-container{
      display: flex;
      flex-wrap: wrap;
    }
  
    .section_1{
      width: 33.33333%;
    }

    .section_2{
        width: 33.33333%;
    }
  }
  
  @media screen and (max-width: 300px){
  
    .menu{
      flex-direction: column;
    }
  }